.event-calendar
{
    font-size:1em;
}
/*  event calendar table styles  */
.event-calendar table {
  border: 2px solid #ddd;
  border-collapse: collapse;
  border-spacing: 0;
  width:100%em;
  margin: 0.4em auto;
}

.block .event-calendar
{
    margin:0.5em auto;
    width:9em;
/*    padding:0.4em;
    border: 1px solid #ccc;
*/
}

.event-calendar tr {
  padding: 0;
  margin: 0;
  xbackground: white;
}
.event-calendar th {
  color: #000;
  background-color: #eee;
  font-size: 120%;
  text-align: center;
  padding: 0.2em 0.33em;
  padding: 0.2em 0;
  border: 1px solid #ddd;
}
.event-calendar td {
  border: 1px solid #ddd;
  color: #777;
  text-align: right;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.event-calendar th.heading {
  border-width: 1px 0px;
}
.event-calendar th.prev {
  text-align: left;
  border-width: 1px 0px 1px 1px;
}
.event-calendar th.next {
  text-align: right;
  border-width: 1px 1px 1px 0px;
}
.event-calendar th a {
  font-weight: bold;
  color: #363636;
}
.event-calendar th a:hover {
  font-weight: bold;
  color: #666;
}
.event-calendar td a {
  font-weight: bold;
  text-decoration: none;
  color:#C60;
  padding:0;
}
.event-calendar td
{
    padding:0px;
}
.event-calendar td.sat, .event-calendar td.sun {
    background: #eee;
}
.event-calendar td.today {
  background: #dfa;
}
.event-calendar td.selected {
  background: #dfa;
}
.event-calendar td.year, .event-calendar td.month {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  border-width: 1px 0px;
}

/*  days of the week header cells */
.event-calendar td.days {
  color: #666;
  background-color: #fff;
  font-weight: bold;
  text-align: center;
  padding: 1px 0.33em;
  padding:0;
  border: 1px solid #ddd;
  border-width: 0 1px 1px 0;
}

/*  floating day number div  */
.event-calendar div.day {
  float: right;
  text-align: center;
  border: 1px solid grey;
  border-width: 0 0 1px 1px;
  padding: 0.125em 0.25em 0 0.25em;
  margin: 0;
  background: #eee;
  position: relative;
}

/*  event node times for the body */
.event-nodeapi div {
  color: #000;
  font-weight: bold;
  padding: 0.5em 1em 0 0;
}
.event-nodeapi div label { color: #999; }

/*  individual node container  */
.event-calendar div.event {
  font-style: italic;
  background-color: #ccc;
  border: solid 1px #555;
  text-align: left;
  margin: 0.25em 0 0.5em 0.25em;
  font-size: 1em;
}
.event-calendar div.title {
  padding-left: 3px;
}
.event-calendar div.title a {
  font-weight: normal;
  font-size: 0.8em;
  color: #000;
}
.event-calendar div.title a:hover {
  background-color: #FC0;
  color:#666;
}
.event-calendar .content {
  margin: 5px;
  padding: 3px;
  border-left: solid 2px #ddd;
  padding-left: 5px;
}
.event-calendar div.type {
  margin-left: 5px;
}
.event-calendar div.type a {
  color: #C60;
  padding:0.2em;
  display:block;
}
.event-calendar div.type a:hover {
  background-color: #FC0;
  color:#666;
}
.event-calendar div.links {
  padding-left: 3px;
}
.event-calendar div.links a {
  font-weight: normal;
  font-size: 0.8em;
  color: #00c;
}
.event-calendar div.links a:hover {
  color: #c00;
}
.event-calendar .start {
  font-style: normal;
  font-size: 0.8em;
  color: #555;
  margin: 2px 0 2px 0;
  padding-left: 3px;
}
.event-calendar .end {
  font-style: normal;
  font-size: 0.8em;
  color: #555;
  margin: 2px 0 2px 0;
  padding-left: 3px;
}
.event-calendar .ongoing {
  font-style: normal;
  font-size: 0.8em;
  color: #555;
  margin: 2px 0 2px 0;
  padding-left: 3px;
}
.event-calendar div.info {
  visibility: hidden;
  height: 0px;
  overflow:hidden;
  padding-left: 3px;
}


/*  individual node view styles  */
.event-calendar div.monthview {
  width: 95px;
}
.event-calendar div.monthview .title {
  line-height: 1em;
}

.event-calendar div.weekview {
  width: 95px;
}
.event-calendar div.weekview .title {
  font-size: 1em;
}

.event-calendar div.dayview {
  width: auto;
}
.event-calendar div.dayview .links {
  margin: 4px;
  font-size: 1.1em;
}
.event-calendar div.dayview .title a {
  margin: 4px;
  font-size: 1.3em;
}
.event-calendar div.dayview .start, .event-calendar div.dayview .end {
  margin-left: 14px;
  font-size: 1em;
}

.event-calendar div.tableview {
  width: auto;
}
.event-calendar div.tableview .links {
  margin: 4px;
  font-size: 1.1em;
}

.event-calendar .event-empty {
  min-height: 6em;
}
.container-inline .day input {
  width: auto;
  display: inline;
}

/*  multi-day event top stripes  */
.event-calendar .event .stripe {
  height: 5px;
}
.event-calendar .event .stripe-1 {
  background-color: #FF6;
  height: 5px;
  width: 100%;
}
.event-calendar .event .stripe-2 {
  background-color: #F66;
  height: 5px;
  width: 100%;
}
.event-calendar .event .stripe-3 {
  background-color: #668CFF;
  height: 5px;
  width: 100%;
}
.event-calendar .event .stripe-4 {
  background-color: #FFB366;
  height: 5px;
  width: 100%;
}
.event-calendar .event .stripe-5 {
  background-color: #85FF66;
  height: 5px;
  width: 100%;
}
.event-calendar .event .stripe-6 {
  background-color: #A666FF;
  height: 5px;
  width: 100%;
}
.event-calendar .event .stripe-7 {
  background-color: #FFE066;
  height: 5px;
  width: 100%;
}
.event-calendar .event .stripe-8 {
  background-color: #66FFFF;
  height: 5px;
  width: 100%;
}
.event-calendar .event .stripe-9 {
  background-color: #FF66D9;
  height: 5px;
  width: 100%;
}
.event-calendar .event .stripe-10 {
  background-color: #DDD;
  height: 5px;
  width: 100%;
}

#block-event-1 .item-list ul li a { margin-top: 8px; }

span.event-timeleft {
  padding-bottom: 3px;
  text-align: right;
  width: auto;
  display: block;
}
span.event-nodetype {
  padding: 0px 0px 0px 5px;
  display: block;
  width: auto;
  text-align: right;
  float: right;
}
.ical-link {
  text-align: right;
}
