@import url("onetrue.css");
@import url("event.css");
/* added for further styling */

/* define width of various parts */
#sidebar-left, #sidebar-left .verticalalign
{
	width: 12em;
}
div[id^="wrapper"] #sidebar-left .verticalalign
{
	width: 12em !important;
}
#sidebar-right, #sidebar-right .verticalalign
{
	width: 12em;
}
div[id^="wrapper"] #sidebar-right .verticalalign
{
	width: 12em !important;
}
#main-content, #main-content .verticalalign
{
    width: 36em;
}
div[id^="wrapper"] #main-content .verticalalign
{
	width: 36em !important;
}
/* width = content + left sidebar */
body.sb-left div#main-content, body.sb-left div#main-content .verticalalign
{
	width: 48em;
}
/* width = content + right sidebar */
body.sb-right div#main-content, body.sb-right div#main-content .verticalalign
{
	width: 48em;
}
/* width = content + right sidebar + left sidebar */
body.sb-none div#main-content, body.sb-none div#main-content .verticalalign,
#header, #footer, #wrapper, #page_wrapper
{
	width: 60em;
}
/* misc class */
acronym
{
    cursor: help;
    border-bottom: 1px dotted #aaa;
}
input
{
	background-color:#FFF;
    color:#333;
	margin-bottom:2px;
	background-color:#ddd;
}
textarea, select
{
	background-color:#FFF;
    color:#333;
	margin-bottom:2px;
	border:1px solid #333;
	background-color:#ddd;
}
input[type=text]
{
	background-color:#FFF;
    border:1px solid #333;
	background-color:#ddd;
}
input[type=submit]
{
	background-color:#FFF;
	padding:2px;
	color:#c60;
	border:1px solid #333;
	font-size:0.9em;
	font-weight:bold;
	margin-bottom:2px;
    background-color:#ddd;
}
/* containers*/
body
{
    background-color: #ccc;
    font: 0.75em/1.2em Verdana, Arial, Geneva, Helvetica, sans-serif;
    margin 0;
}
div#page_wrapper
{
    background-color: #ddd;
    margin:0 auto;
}
/* header styles*/
div#header
{
    background: #777 url(images/heading_alt.jpg) bottom left no-repeat ;
    height:9em;
    margin:0;
    padding:0;
    border-bottom:0.2em solid #25509F;
}
#mission
{
    margin:0;padding:0;
}
#site-name, #site-slogan
{
    font-weight:bold;
    text-align: left;
    margin:0;
    padding-left:50px;
}
#site-name
{
    background-image: url(images/corner_tl_alt.gif);
    background-repeat: no-repeat;
    background-position: top left;
    padding-top:1em;
    padding-bottom:0.2em;
    font-size:2em;
    margin:0;
}
#site-slogan
{
    color:#fff;
}
#site-name a
{
    text-decoration: none;
    color:#c60;
}
#site-name a:hover
{
    color:#fc3;
}
/* top nav bar */
#top-nav {
    padding:0;margin:0;
}
#top-nav ul
{
    padding:0;
    margin:0;
    font-weight:normal;
    float:right;
    clear:right;
}
#top-nav ul li {
	display: inline;
}
#top-nav ul#primary li a
{
    padding: 0.6em 1em;
    background-color: #eee;
    color: #c60;
    text-decoration: none;
    float: left;
    border-left: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}
#top-nav ul#primary li.last a
{
  background-image: url(images/corner_tr_alt.gif);
  background-repeat: no-repeat;
  background-position: top right;
}
#top-nav ul#primary li a:hover
{
    background-color: #fff;
    color: #c60;
}
#top-nav ul#secondary li a
{
    padding: 0 0.2em;
    color: #fff;
    text-decoration: none;
    font-weight:bold;
    font-size:0.8em;
    float: left;
}
#top-nav ul#secondary li a:hover
{
    color: #c60;
}
/* search bar */
#search
{
    margin:6.5em 0 0 0;
    height:2.5em;
    padding:0;
    background-color:#eee;
    border-top:0.2em solid #25509F;
    text-align:right;
    display:block;
    width:100%;
    position:absolute;
}
#search input
{
	background-color:#FFF;
    margin:0.2em 0.5em;
    padding:0;
    font-size:0.8em;
    border:1px solid #333;
	background-color:#ddd;
}
#search input[type=submit]
{
	background-color:#FFF;
	padding:2px;
	color:#c60;
	border:1px solid #333;
	font-size:0.8em;
	font-weight:bold;
	margin-bottom:2px;
    background-color:#ddd;
}
/* for ie6 win */
#search .form-submit
{
	color:#c60;
	font-size:0.8em;
	font-weight:bold;
}

/* footer styles*/
div#footer
{
    background: #25509F url(images/heading_alt.jpg) no-repeat top left;
    color: #ccc;
    border-top:0.2em solid #25509F;
    margin:0;
}
div#footer .w1
{
    background: url(images/corner_bl_alt.gif) no-repeat bottom left;
}
div#footer .w2
{
    padding:0.1em 0em 0.1em 2em;
    background: url(images/corner_br_alt.gif) no-repeat bottom right;
}
div#footer p
{
	color: #000;
}
div#footer a
{
    text-decoration: none;
}
/* main-content styles*/
div#main-content
{
    background-color: #ddd;
    line-height:1.5em;
}
div#main-content h2
{
	border-bottom: 2px solid #ccc;
	font-size:1.5em;
    line-height:1.2em;
	color: #c60;
}
div#main-content table .dark
{
    background-color:#ccc;
}
div#main-content table .light
{
    background-color:#ddd;
}
div#main-content table .dark .active
{
    background-color:#ddd;
}
div#main-content table .light .active
{
    background-color:#eee;
}
div#main-content, div#main-content table
{
    color:#000;
    font-size:1em;
}
div#main-content div.w1
{
    background-color: #eee;
    margin:1em;
    border-collapse:collapse;
    border-bottom:1px solid #ddd;
}
div#main-content.left div.w1
{
    margin-right:0;
}
div#main-content.right div.w1
{
    margin-left:0;
}
div#main-content div.w4
{
    padding:1em;
    overflow: hidden;
}

/* rounding corners on main-content */
div#main-content div.w1,
div#main-content div.w2,
div#main-content div.w3,
div#main-content div.w4
{
   	background-repeat: no-repeat;
}
div#main-content.none div.w1,
div#main-content.both div.w1,
div#main-content.left div.w1
{
   	background-image:url(images/corner_sub_bl_alt.gif);
   	background-position:bottom left;
}
div#main-content.none div.w2,
div#main-content.both div.w2,
div#main-content.right div.w2
{
   	background-image:url(images/corner_sub_br_alt.gif);
   	background-position:bottom right;
}
div#main-content.none div.w3,
div#main-content.both div.w3,
div#main-content.left div.w3
{
   	background-image:url(images/corner_sub_tl_alt.gif);
   	background-position:top left;
}
div#main-content.none div.w4,
div#main-content.both div.w4,
div#main-content.right div.w4
{
   	background-image:url(images/corner_sub_tr_alt.gif);
   	background-position:top right;
}

/* rounding corners on sidebars */
div#sidebar-right h2
{
   	background: #eee url(images/corner_sub_tl_alt.gif) no-repeat top left;
}
div#sidebar-left .block .content
{
   	background: #eee url(images/corner_sub_br_alt.gif) no-repeat bottom right;
   	margin:0;padding: 0.2em 0.2em 0.8em 0.2em;
   	border-bottom:1px solid #ddd;
}
div#sidebar-right .block .content
{
   	background: #eee url(images/corner_sub_bl_alt.gif) no-repeat bottom left;
   	margin:0;padding: 0.2em 0.2em 0.8em 0.2em;
   	border-bottom:1px solid #ddd;
}
/* some style changes on block class */
.block table
{
    font-size:1em;
}
.block
{
    margin: 1em 0 0.5em 0;
    padding:0;
    background-color: #eee;
}
.block h2, .block h3
{
    margin:0em;
    padding: 0.8em 0.2em 0.2em 0.2em;
    color: #c60;
    font-weight:bold;
   	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
}
.block h2
{
    font-size:1em;
   	border-bottom:1px solid #ccc;
   	background: #eee url(images/corner_sub_tr_alt.gif) no-repeat top right;
}
.block h3
{
    font-size:1em;
}
.block a
{
	color: #333;
	display: block;
	padding: 2px 0;
	text-decoration: none;
}
.block a:hover
{
	color: #333;
}
.block ul
{
    position:relative;
	list-style: none;
}
.block ul li
{
	font-size:0.9em;
}

.block ul li a
{
	display: block;
	padding: 1px 0;
	text-decoration: none;
}
.block ul li a:hover
{
	background: #ccc;
}
.block ul ul li
{
    font-size:1em;
}

/* modification on drupal.css */
.breadcrumb
{
    font-size:0.9em;
}
.book .nav .prev, .book .nav .next
{
    width:40%;
}
.node a, .breadcrumb a, .content a
{
    color: #c60;
    text-decoration:none;
}
ul.primary li.active a {
  background-color: #eee;
  border-bottom:1px solid #eee;
}
ul.primary li a:hover {
  background-color: #fff;
}
.node .info
{
	font-size:0.9em;
}
