/* CSS Document */
#sidebar-left
	{
	float: left;
	width: 1em;
	}
#main-content
	{
	float: left;
	width: 1em;
	}
#sidebar-right
	{
	float: left;
	width: 1em;
	}
/* Start Mac IE5 filter \*/
#sidebar-left, #main-content, #sidebar-right
	{
	padding-bottom: 32767px !important;
	margin-bottom: -32767px !important;
	}
@media all and (min-width: 0px) {
#sidebar-left, #main-content, #sidebar-right
	{
	padding-bottom: 0 !important;
	margin-bottom: 0 !important;
	}
#sidebar-left:before, #main-content:before, #sidebar-right:before
	{
	content: '';
	display: block;
	background: inherit;
	padding-top: 32767px !important;
	margin-bottom: -32767px !important;
	height: 0;
	}
}
/* End Mac IE5 filter */
/* IE Win can be a bit out - you might need to adjust
bottom value by -1px or as required */
.verticalalign
	{
	position: absolute;
	bottom: 0;
	}
#sidebar-left .verticalalign
	{
	width: 1em;
	}
#main-content .verticalalign
	{
	width: 1em;
	}
#sidebar-right .verticalalign
	{
	width: 1em;
	}
/* hack for Opera 7+ */
@media all and (min-width: 0px){
.verticalalign
	{
	width: 100% !important;
	}
/* But Opera 9 does it right, so CSS3 hax to the max */
div[id^="wrapper"] #sidebar-left .verticalalign
	{
	width: 1em !important;
	}
div[id^="wrapper"] #main-content .verticalalign
	{
	width: 1em !important;
	}
div[id^="wrapper"] #sidebar-right .verticalalign
	{
	width: 1em !important;
	}
}
/* hack for IEs of all persuasions */
* html .verticalalign
	{
	width: 100% !important;
	}
.verticalalign p
	{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	background: #996666;
	}
#wrapper
	{
	width: 1em;
	position: relative;
	overflow: hidden; /* This hides the excess padding in non-IE browsers */
	}
/* we need this for IE 5.01 - otherwise the wrapper does not expand to the
necessary height (unless fixed, this problem becomes even more acute
weirdness as the method is enhanced */
#wrapper
	{
/* Normally a Holly-style hack height: 1% would suffice but that causes
IE 5.01 to completely collapse the wrapper - instead we float it */
	float: left;
/* NB. possibly only IE 5.01 needs to get this float value - otherwise 5.5 sometimes
(I saw it happen many moons ago) makes the width of wrapper too small
the float: none with the comment is ignored by 5.01,
5.5 and above see it and carry on about their business
It's probably fine to just remove it, but it's left here
just in case that many moons ago problem rears its head again */
	float/**/: none;
	}
/* easy clearing */
#wrapper:after
	{
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
#wrapper
	{
	display: inline-block;
	}
/*\*/
#wrapper
	{
	display: block;
	}
/* end easy clearing */
#header, #footer
	{
	width: 50em;
	}
/* Safari needs this - otherwise the ghost overflow, though painted
correctly obscures links and form elements that by rights should be above it.
An unintended side-effect is that it cause such elements to vanish in IE 5.01
and 5.5, hence the child selector hack */
* > #footer, * > form, * > #notes, * > .output
	{
	position: relative;
	z-index: 1000;
	}

